.full-screen-modal .mat-mdc-dialog-container {
  padding: 0;
}

.full-screen-modal .mat-mdc-dialog-surface {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  border-radius: 0; /* opcional: sin bordes redondeados */
}