<h2 mat-dialog-title>Nueva Orden</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-md-10">
                <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                        <h6>{{patientCardText}}</h6>
                    </mat-card-header>
                    <mat-card-content>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Codigo paciente</mat-label>
                                    <input matInput placeholder="Placeholder" formControlName="patientCode">
                                     <mat-icon matSuffix>barcode</mat-icon>
                                </mat-form-field>
                            </div>
                    
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <button mat-flat-button class="form-control"><mat-icon>add_2</mat-icon></button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput placeholder="Placeholder" formControlName="patientName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput placeholder="Placeholder" formControlName="lastName">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="datepicker" formControlName="birth"/>
                                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #datepicker>
                                        <mat-datepicker-actions>
                                        <button mat-button matDatepickerCancel>Cancel</button>
                                        <button mat-raised-button matDatepickerApply>Apply</button>
                                        </mat-datepicker-actions>
                                    </mat-datepicker>
                                </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <mat-radio-group aria-label="Genero" formControlName="gender">
                                <mat-radio-button value="1">Femenino</mat-radio-button>
                                <mat-radio-button value="2">Maculino</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput type="text" placeholder="Placeholder" formControlName="phone">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" placeholder="Placeholder" formControlName="email">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Medico</mat-label>
                                    <mat-select formControlName="idDoctor">
                                        @for (doc of physicians; track doc.iddoctor) {
                                            <mat-option [value]="doc.iddoctor">
                                                {{ doc.firstname }} {{ doc.lastname }}
                                            </mat-option>
                                            }
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Procedencia</mat-label>
                                    <mat-select>
                                        <mat-option value="idOrigin">Origen</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-">
                                <div class="mb-3">
                                    <mat-form-field class="w-100" appearance="outline">
                                        <mat-label>Observaciones</mat-label>
                                        <input matInput placeholder="Placeholder">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>  
                    </mat-card-content>
                </mat-card>
                <mat-card class="example-card mt-2" appearance="outlined">
                    <mat-card-header>
                        <h6>{{areaCardText}}</h6>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                        @for (area of areas; track area.idarea) {
                            <div class="col-md-6">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                                        <mat-expansion-panel-header>
                                        <mat-panel-title>  {{area.name}}</mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <section class="example-section" [formGroup]="toppings">
                                            <mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox>
                                            <mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox>
                                            <mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox>
                                        </section>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        }
                    </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-2">
                <mat-card class="example-card h-100" appearance="outlined">
                    <mat-card-header>
                        <h6>{{resumenCardText}}</h6>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Paciente:</strong> {{ form.value.patientName }} {{ form.value.lastName }}</p>
                        <p><strong>Médico:</strong> {{ form.value.physician }}</p>
                        <p><strong>Áreas seleccionadas:</strong></p>

                        <ul>
                        @for (a of selectedAreas; track a.area) {
                            <li>
                            <strong>{{ a.area }}</strong>
                            <ul>
                                @for (item of a.items; track item) {
                                <li>{{ item }}</li>
                                }
                            </ul>
                            </li>
                        }
                        </ul>
                    </mat-card-content>
                </mat-card>
                





            </div>
        </div>
 
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="crearOrden()">Crear</button>
</mat-dialog-actions>