
<app-sistematic-menu></app-sistematic-menu>
<br>
<div class="container-fluid">

    <div class="filter p-fluid">

        <div class="row">
            <div class="col-md-4">
                <label for="integeronly">Bodega</label>
                <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
            </div>
            <div class="col-md-3">
                <label for="integeronly">Lote</label>
                <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
            </div>
            <div class="col-md-4">
                <label for="integeronly">Producto</label>
                <p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
            </div>
            <div class="col-md-1">
                <div class="flex justify-content-center flex-wrap gap-3 mt-4">
                    <p-button icon="pi pi-search" [rounded]="true" severity="info" [outlined]="true"></p-button>
                  
                </div>
            </div>
        </div>
        
        
        <br>

        <div class="row">
            <div class="col-md-2">
                <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
                <label for="ingredient1" class="ml-2">Productos en existenci</label>
            </div>

            <div class="col-md-1">
                <p-radioButton name="pizza" value="Mushroom" [(ngModel)]="ingredient" inputId="ingredient2"></p-radioButton>
                <label for="ingredient2" class="ml-2">Description</label>
            </div>
            <div class="col-md-1">
                <p-radioButton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3"></p-radioButton>
                <label for="ingredient3" class="ml-2">Description</label>
            </div>
        </div>

    </div>

    <br>
    <div class="card">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre comercial</th>
                    <th>Nombre generico</th>
                    <th>Tipo producto</th>
                    <th>Farmaceutica</th>
                    <th>Lote</th>
                    <th>Bodega</th>
                    <th>Stock</th>
                    <th>Expira</th>
                    <th>Presentacion</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.farmacy }}</td>
                    <td></td>
                    <td></td>
                    <td>{{product.rating}}</td>
                    <td></td>
                    <td></td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>