<br>
<div class="container-fluid">
 
    <h1>ordenes</h1>

    <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="idorder">
    <th scope="col" mat-header-cell *matHeaderCellDef> ID </th>
    <td data-label="ID" mat-cell *matCellDef="let element"> {{element.idorder}} </td>
  </ng-container>

    <ng-container matColumnDef="ordernumber">
    <th scope="col" mat-header-cell *matHeaderCellDef> Orden </th>
    <td data-label="Account" mat-cell *matCellDef="let element"> {{element.ordernumber}} </td>
  </ng-container>

    <ng-container matColumnDef="dateorder">
        <th scope="col" mat-header-cell *matHeaderCellDef> Fecha </th>
        <td data-label="Orden" mat-cell *matCellDef="let element">
        {{element.dateorder}}
        </td>
    </ng-container>

  <ng-container matColumnDef="patientname">
    <th scope="col" mat-header-cell *matHeaderCellDef> Paciente </th>
    <td data-label="Paciente" mat-cell *matCellDef="let element"> {{element.patientname}} </td>
  </ng-container>

  <ng-container matColumnDef="patientcode">
    <th scope="col" mat-header-cell *matHeaderCellDef> codigo </th>
    <td data-label="codigo" mat-cell *matCellDef="let element"> {{element.patientcode}} </td>
  </ng-container>

   <ng-container matColumnDef="status">
    <th scope="col" mat-header-cell *matHeaderCellDef> status </th>
    <td data-label="status" mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>




</div>