<div class="container">
    <div class="d-flex justify-content-center bg align-items-center h-100vh">
        <div class="container-fluid login-wrapper">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-10 col-lg-8">
                    <div class="row login-card">
                        <div class="col-md-6 left">
                            <div class="content">
                                <h1 class="bitlab-font">{{ 'login.brand' | transloco }}</h1>
                                <p class="bitlab-font">{{ 'login.tagline' | transloco }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 right">
                            <h2>{{ 'login.title' | transloco }}</h2>
                            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                                @if(loginForm.get('idUser')?.invalid && loginForm.get('idUser')?.touched){
                                    <mat-error>{{ 'login.error_user' | transloco }}</mat-error>
                                }
                                <input type="text" [placeholder]="'login.username' | transloco" class="form-control mb-3" formControlName="idUser" name="usuario"/>
                                <input type="password" [placeholder]="'login.password' | transloco" class="form-control mb-3" formControlName="password" name="password"/>
                                @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                                    <mat-error>{{ 'login.error_user' | transloco }}</mat-error>
                                }
                                <div [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty" class="alert alert-danger">
                                    {{ 'login.error_password' | transloco }}
                                </div>
                                <button mat-flat-button class="w-100 mb-2" type="submit" label="Submit" [disabled]="!loginForm.valid">
                                    {{ 'login.submit' | transloco }}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
