@import url(assets/styles/app.css);
/* @import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css'; */
/* @import '@primeng/themes/lara-light-blue/theme.css';
@import 'primeicons/primeicons.css'; */
/* @import '../node_modules/@primeng/themes/lara';  */
/* @import '../node_modules/primeicons/primeicons.css'; */
/* @import 'primeng/resources/primeng.min.css'; */
/* @import '@primeng/themes/lara/theme.css'; */
/* @import 'primeicons/primeicons.css';
@import '../node_modules/primeicons/primeicons.css'; */
@import 'primeicons/primeicons.css';

a{text-decoration: inherit !important;} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
